.top_menu
	nav.top_menu_nav
		ul
			li
				a(href="#") 
					| ГЛАВНАЯ
			li
				a(href="#") 
					| ЦЕНЫ
			li
				a(href="#") 
					| САЛОНЫ
			li
				a(href="#") 
					| УСЛУГИ
			li
				a(href="#") 
					| ВАКАНСИИ
			li
				a(href="#")#top_menu_cb 
					| ЗАПИСАТЬСЯ