.top_menu
	nav.top_menu_nav
		ul
			li
				a(href="index.html").top_menu_nav_anim
					| ГЛАВНАЯ
			li
				a(href="#").top_menu_nav_anim 
					| ЦЕНЫ
			li
				a(href="salons.html").top_menu_nav_anim 
					| САЛОНЫ
			li
				a(href="#").top_menu_nav_anim 
					| УСЛУГИ
			li
				a(href="#").top_menu_nav_anim
					| ВАКАНСИИ
			li
				a(href="#")#top_menu_cb_anim
					| ЗАПИСАТЬСЯ