doctype html
html
	body
		.wrapper.grid
			.wrapper_left.wrapper_item
				.logo
					img(src="../img/logo.png")
				.social
					ul
						li
							a(href="#")
								i.fa.fa-mobile(aria-hidden='true')
								| +7 (965) 340-50-94
						li
							a(href="#")
								i.fa.fa-envelope-o(aria-hidden='true')
								| 100secrvices@mail.ru
						li
							a(href="#")
								i.fa.fa-vk(aria-hidden='true')
								| 100_services/
						li
							a(href="#")
								i.fa.fa-facebook-official(aria-hidden='true')
								| 100_services/
						li
							a(href="#")
								i.fa.fa-odnoklassniki(aria-hidden='true') 
								| 100_services/
				.vacancy
					h4
						| Ищешь работу?
					h5
						| Предлагаем работу рядом с домом и с высокой зарплатой
				button.vacancy_button(href="#")
					| ВАКАНСИИ
				.footer
					| 100 УСЛУГ&copy;20092017

			.wrapper_right.wrapper_item
				.top_menu
					nav.top_menu_nav
						ul
							li
								a(href="#") 
									| ГЛАВНАЯ
							li
								a(href="#") 
									| ЦЕНЫ
							li
								a(href="#") 
									| САЛОНЫ
							li
								a(href="#") 
									| УСЛУГИ
							li
								a(href="#") 
									| ВАКАНСИИ
							li
								a(href="#") 
									| ЗАПИСАТЬСЯ
				.call_back
					form.grid
						div.cb_item
							input(type = 'text', name = 'name', placeholder = 'Имя...', required ='')
						div.cb_item
							input(type = 'text', name = 'name', placeholder = 'Фамилия...')
						div.cb_item
							input(type = 'text', name = 'name', placeholder = 'Телефон...')
						div.cb_item
							button.button
								| Записаться!
		link(rel='stylesheet', href='css/index.min.css')
		script(src='https://use.fontawesome.com/e21d0d3332.js')
		script(src='js/jquery-2.1.4.js')
		script(src='js/scripts.min.js')

