doctype html
html
	body
		include includes/metro_overlay.pug
		.wrapper.grid
			.wrapper_left.wrapper_item
				include includes/left_menu.pug
			.wrapper_right.wrapper_item
				include includes/top_menu.pug
				.wr_price_select.grid
					.wr_price_select-item
						.wr_p_metro_info_icon
							button#burger.header_burger.hamburger(type='button')
								span.hamburger_box
									span.hamburger_inner
						.wr_p_metro_info_name
							| ПРЕОБРАЖЕНСКАЯ ПЛОЩАДЬ
					.wr_price_select-item
						include includes/price_accordeon.pug
					.wr_price_select-item
						.table_head
							.th_name_1
								| ЖЕНСКИЙ ЗАЛ ЭКОНОМ
							.th_name_2
								| СТРИЖКИ, УКЛАДКИ, ПРИЧЕСКИ
						include includes/price_table_1.pug
		link(rel='stylesheet', href='css/prices.min.css')
		script(src='https://use.fontawesome.com/e21d0d3332.js')
		script(src='js/jquery-2.1.4.js')
		script(src='js/scripts.min.js')

